.form-container {
  background: conic-gradient(from 315deg, #FF40C9, #1C9AC6);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box {
  border-radius: 8px;
  box-shadow: 0 0 10px #87cefa;
  padding: 20px;
  width: 300px;
}

h2 {
  text-align: center;
  color: #333;
}

.login-group {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 0; 
}

input {
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login {
  width: 100%;
  text-align: center;
  background-color: #00bfff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #87cefa;
}
