// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// UI
$primaryColor: #212529;
$secondaryColor: #7CC000;
$lightColor: #FAFAFA;
$whiteColor: white;
// $tertiaryColor: #FD123F;
// $quaternaryColor: #1BD2F8;